:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  color: black;
}

.header {
  background-color: rgb(250, 67, 35);
  padding: 20px 0px;
  position: sticky;
  width: 100%;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-image {
  height: 30px;
}

.nav-text {
  font-size: 1.1rem;
  color: #fff;
}

.journal-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 850px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
}

.journal-card:hover{
  transform: scale(1.01);
  transition: 0.7s;
}

.imagePlace {

  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;

}



.journal-article {
  margin-top: 30px;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
}

.location-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.location-title>img {
  width: 10px;
}

.location-title>p {

  font-size: 12px;
}

.location-title>a {
  font-size: 12px;

}

.placeName {
  margin: 3px;
}

.date {
  font-size: 13px;
}

.description {
  font-size: 16px;
  color: rgb(39, 39, 39);
}